.sider.bg-light.border-end
  .inner-menu.pt-3
    ul.nav.flex-column
      li.nav-item.mb-1
        a.nav-link.text-dark(href=`${prefixAdmin}/dashboard`)
          i.bi.bi-speedometer2.me-2
          | Tổng quan
      li.nav-item.mb-1
        a.nav-link.text-dark(href=`${prefixAdmin}/topics`)
          i.bi.bi-bookmark.me-2
          | Quản lý chủ đề
      li.nav-item.mb-1
        a.nav-link.text-dark(href=`${prefixAdmin}/songs`)
          i.bi.bi-music-note-list.me-2
          | Quản lý bài hát
      li.nav-item.mb-1
        a.nav-link.text-dark(href=`${prefixAdmin}/singers`)
          i.bi.bi-mic.me-2
          | Quản lý ca sĩ
      li.nav-item.mb-1
        a.nav-link.text-dark(href=`${prefixAdmin}/roles`)
          i.bi.bi-person-badge.me-2
          | Quản lý nhóm quyền
      li.nav-item.mb-1
        a.nav-link.text-dark(href=`${prefixAdmin}/roles/permissions`)
          i.bi.bi-shield-lock.me-2
          | Phân quyền
      li.nav-item.mb-1
        a.nav-link.text-dark(href=`${prefixAdmin}/accounts`)
          i.bi.bi-people.me-2
          | Tài khoản admin
      li.nav-item.mb-1
        a.nav-link.text-dark(href=`${prefixAdmin}/users`)
          i.bi.bi-person.me-2
          | Tài khoản user
      li.nav-item.mb-1
        a.nav-link.text-dark(href=`${prefixAdmin}/settings/general`)
          i.bi.bi-gear.me-2
          | Cài đặt chung
